<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC
 "-//Apple//DTD PLIST 1.0//EN"
 "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<plist version="1.0">
<dict>

    <key>CFBundleDisplayName</key>
    <string>Mrzefv</string>

    <key>NSLocalNetworkUsageDescription</key>
    <string>Mrzefv uses the local network to communicate with your explicitly selected devices.</string>

</dict>
</plist>
